body {
    background: linear-gradient(to bottom, #a1c4fd, #c2e9fb); /*从上到下的渐变*/
    height: 100vh; /*确保背景覆盖整个视口高度*/
    margin: 0; /*去除默认的body边距*/
}

a {
    text-decoration: none;
}

.WebTransferStation {
    width: 800px;
    height: auto;
    margin: 0 auto 0 auto;
}

.introduce {
    font-size: 25px;
    font-weight: bolder;
    margin: 40px auto 10px auto;
}

#WebStation-box {
    width: 800px;
    display: flex;      /*使用 Flexbox 布局*/
    flex-wrap: wrap;    /*允许子元素自动换行*/
    gap: 10px;          /*设置子元素之间的间距*/
}

.WebStation {
    width: 152px;
    height: 40px;
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 6px;
    position: relative;
} .WebStation:hover {
    background-color: rgb(250, 200, 215);
    /*background-color: #7DBFFF;*/
}